/***  BASE  ***/

.wrapper {
    width: 90%;
    margin: 0 5%;
}

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    background: #b22;
    color: white;
    padding: 0 1.4em 1em;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

.footer-container footer .right {
    width: 33%;
    float: right;
}

/***  IE Fixes  ***/

.ie7 .title {
    padding-top: 20px;
}


/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 800px) {

    .title {
        float: left;
    }

    .main aside {
        margin: 0 auto;
        width: 390px;
        background: #b22 url(../img/borobudur_buddha_390x259.jpg) no-repeat;
        padding-top:259px;
    }

    nav div.wrapper {
        flex-direction: row;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
    }

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}
